#display_party, #choose_party_type, #prepare_party, #list_parties {
    display: none;
}

main {
    text-align: center;
}

#go_to_menu_button {
    position: absolute;
    top: 5%;
    left: 5%;
    display: none;
}

#error_login {
    color: red;
}
